---
import ReactJS from "../icons/ReactJS.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Bun from "../icons/Bun.astro";
import CSS from "../icons/CSS.astro";
import Figma from "../icons/Figma.astro";
import HTML5 from "../icons/HTML5.astro";
import JavaScript from "../icons/JavaScript.astro";
import Npm from "../icons/Npm.astro";
import TailwindCSS from "../icons/TailwindCSS.astro";
import Vite from "../icons/Vite.astro";
import WordPress from "../icons/WordPress.astro";
import Yarn from "../icons/Yarn.astro";
import Code from "../icons/Code.astro";
import Link from "../icons/Link.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    icon: AstroIcon,
  },
  BUN: {
    name: "Bun",
    icon: Bun,
  },
  CSS: {
    name: "CSS",
    icon: CSS,
  },
  CSSMODULES: {
    name: "CSS Modules",
    icon: CSS,
  },
  FIGMA: {
    name: "Figma",
    icon: Figma,
  },
  HTML: {
    name: "HTML5",
    icon: HTML5,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
  NPM: {
    name: "NPM",
    icon: Npm,
  },
  REACT: {
    name: "React.js",
    icon: ReactJS,
  },
  TAILWIND: {
    name: "Tailwing",
    icon: TailwindCSS,
  },
  VITE: {
    name: "Vite",
    icon: Vite,
  },
  WORDPRESS: {
    name: "WordPress",
    icon: WordPress,
  },
  YARN: {
    name: "Yarn",
    icon: Yarn,
  },
};

const PROJECTS = [
  {
    image: "/gales.webp",
    title: "Gales",
    description:
      "Aqui hablo del proyecto Aqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyecto",
    link: "https://gales.pe/",
    code: "",
    tags: [
      TAGS.FIGMA,
      TAGS.BUN,
      TAGS.VITE,
      TAGS.ASTRO,
      TAGS.HTML,
      TAGS.TAILWIND,
    ],
  },
  {
    image: "/siscog.webp",
    title: "Siscog",
    description:
      "Aqui hablo del proyecto Aqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyecto",
    link: "https://siscog.pe/",
    code: "",
    tags: [TAGS.FIGMA, TAGS.WORDPRESS, TAGS.JAVASCRIPT],
  },
  {
    image: "/torresc.webp",
    title: "Siscog",
    description:
      "Aqui hablo del proyecto Aqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyectoAqui hablo del proyecto",
    link: "https://torresc.netlify.app/",
    code: "https://github.com/miguelgallardof/torresc",
    tags: [TAGS.YARN, TAGS.FIGMA, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSSMODULES],
  },
];
---

<div class="flex flex-col gap-10 justify-center items-center">
  {
    PROJECTS.map(({ image, title, description, tags, link, code }) => (
      <article
        class="max-w-2xl border border-gray-900 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        {...Astro.props}
      >
        <a href="#">
          <img class="rounded-t-lg w-100%" src={image} alt="project image" />
        </a>
        <div class="p-5">
          <a href="#">
            <h3 class="mb-2 text-xl font-bold tracking-tight text-purple-900 dark:text-white">
              {title}
            </h3>
          </a>
          <p class="mb-3 font-normal text-gray-500 dark:text-gray-400 text-pretty">
            {description}
          </p>
          <ul class="flex flex-row flex-wrap gap-y-1 pb-6">
            {tags.map((tag) => (
              <span class="flex gap-x-2 items-center font-medium me-2 rounded-lg px-2.5 py-1  text-sm bg-black/20 text-white/80">
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            ))}
          </ul>
          <div class="flex flex-row gap-x-6 items-center justify-end mb-2">
            <a href={link} target="_blank" rel="noopener noreferrer">
              <Link class="size-6 brightness-50 hover:scale-125 hover:brightness-100 transition-colors" />
            </a>
            {code && (
              <a href={code} target="_blank" rel="noopener noreferrer">
                <Code class="size-6 brightness-50 hover:scale-125 hover:brightness-100 transition-colors" />
              </a>
            )}
          </div>
        </div>
      </article>
    ))
  }
</div>
